@media (max-width: 1199px) {
    header {
        .hero {
            .hero_right {
                video {
                    width: 90%!important;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    header {
        .hero {
            .hero_right {
                video {
                    width: 80%!important;
                    margin-bottom: 160px;
                    margin-left: 100px;
                }
                .text {
                    text-align: center;
                    padding-right: 0;
                    padding-bottom: 5rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .hero {
            .hero_right {
                video {
                    margin-bottom: 200px;
                    margin-left: 65px;
                }
            }
        }
    }
}

@media (max-width: 610px) {
    header {
        .hero {
            .hero_left {
                .lamp {
                    width: 140px;
                    height: 290px;
                }
                .light {
                    width: 490px;
                    margin-right: 16px;
                    margin-top: -4px;
                }
            }
            .hero_right {
                video {
                    margin-bottom: 200px;
                    margin-left: 65px;
                }
            }
        }
    }
}

@media (max-width: 530px) {
    header {
        .hero {
            .hero_left {
                .lamp {
                    width: 95px;
                    height: 210px;
                }
                .light {
                    width: 375px;
                    margin-right: 13px;
                    margin-top: -2px;
                }
            }
            .hero_right {
                video {
                    width: 97%!important;
                    margin-bottom: 225px;
                    margin-left: 5px;
                }
                .text {
                    padding-right: 0.6rem;
                    h1 {
                        padding: 3rem 0;
                        font-size: 70px;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    header {
        .hero {
            .hero_left {
                .lamp {
                    width: 100px;
                    height: 220px;
                }
                .light {
                    width: 360px;
                    margin-right: 13px;
                    margin-top: -2px;
                }
            }
            .hero_right {
                video {
                    margin-left: 5px;
                }
            }
        }
    }
}