nav {
    display: flex;
    height: 60px;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0009800a, 0 7px 18px #0009800d;
    // box-shadow: 1px 3px 10px -3px #80808036;
    z-index: 999;
    .logo {
        width: 110px;
        height: 55px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        li {
            margin: 0 5px;
            a {
                color: #000;
                text-decoration: none;
                font-size: 18px;
                font-weight: 600;
                padding-left: 1rem;
                // border-radius: 5px;
                transition: all 0.3s ease;
                &:hover {
                    color: #e6774d;
                }
            }
        }
    }
    .menu-btn {
        i {
            // color: #fff;
            font-size: 22px;
            cursor: pointer;
            display: none;
            background: -webkit-linear-gradient(#4babe2 55%, #ec2a79 24%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: #f7f7f700;
        }
    }
    input[type="checkbox"] {
        display: none;
    }
}

@media (max-width: 991px) {
    nav {
        padding: 0 65px;
        .menu-btn {
            i {
                display: block;
            }
        }
        ol,
        ul {
            padding-left: 0;
        }
        ul {
            position: fixed;
            top: 60px;
            left: -100%;
            background: #111;
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
            z-index: 999;
            li {
                width: 100%;
                margin: 40px 0;
            }
        }
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    #click:checked~ul {
        left: 0;
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover {
            background: none;
            color: #e6774d;
        }
    }
}