@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  overflow-x: hidden;
}

header .hero .hero_left, header .hero .hero_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_on {
  background: #2b2b2b !important;
}

.btn_on span {
  background: #ffffff !important;
  margin-left: 31px !important;
  background-image: url("../images/moon.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.light_on {
  opacity: 1 !important;
}

#switch {
  width: 60px;
  height: 30px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #4babe2), to(#ec2b7b));
  background: linear-gradient(to bottom right, #4babe2 50%, #ec2b7b);
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: poynter;
  margin-left: 12px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#switch span {
  -webkit-transition: background 0.5s, margin-left 0.5s;
  transition: background 0.5s, margin-left 0.5s;
  display: block;
  width: 26px;
  height: 26px;
  margin-left: 2px;
  border-radius: 50%;
  background-image: url("../images/sunny.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f9fa;
}

header {
  width: 100%;
  height: 100vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 85px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 5px 10px #0009800a, 0 7px 18px #0009800d;
          box-shadow: 0 5px 10px #0009800a, 0 7px 18px #0009800d;
  z-index: 999;
}

header nav .logo {
  width: 110px;
  height: 55px;
  padding: 7px;
}

@media (max-width: 530px) {
  header nav {
    padding: 0 35px;
  }
}

header .hero .hero_left .lamp {
  width: 160px;
  height: 330px;
}

header .hero .hero_left .light {
  width: 610px;
  margin-right: 16px;
  margin-top: -4px;
  opacity: 0;
}

header .hero .hero_right {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: start !important;
  position: relative;
}

header .hero .hero_right video {
  width: 80%;
  margin-bottom: 145px;
}

header .hero .hero_right .text {
  position: absolute;
  background: #000;
  mix-blend-mode: multiply;
  padding-right: 2rem;
}

header .hero .hero_right .text h1 {
  padding: 3rem 0;
  font-size: 90px;
  font-weight: 800;
}

header .hero .hero_right .text p {
  padding-bottom: 2rem;
}

header .hero .hero_right .text a {
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #4babe2), to(#ec2b7b));
  background: linear-gradient(to bottom right, #4babe2 50%, #ec2b7b);
  padding: 12px;
  border-radius: 30px;
}

@media (max-width: 1199px) {
  header .hero .hero_right video {
    width: 90% !important;
  }
}

@media (max-width: 991px) {
  header .hero .hero_right video {
    width: 80% !important;
    margin-bottom: 160px;
    margin-left: 100px;
  }
  header .hero .hero_right .text {
    text-align: center;
    padding-right: 0;
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  header .hero .hero_right video {
    margin-bottom: 200px;
    margin-left: 65px;
  }
}

@media (max-width: 610px) {
  header .hero .hero_left .lamp {
    width: 140px;
    height: 290px;
  }
  header .hero .hero_left .light {
    width: 490px;
    margin-right: 16px;
    margin-top: -4px;
  }
  header .hero .hero_right video {
    margin-bottom: 200px;
    margin-left: 65px;
  }
}

@media (max-width: 530px) {
  header .hero .hero_left .lamp {
    width: 95px;
    height: 210px;
  }
  header .hero .hero_left .light {
    width: 375px;
    margin-right: 13px;
    margin-top: -2px;
  }
  header .hero .hero_right video {
    width: 97% !important;
    margin-bottom: 225px;
    margin-left: 5px;
  }
  header .hero .hero_right .text {
    padding-right: 0.6rem;
  }
  header .hero .hero_right .text h1 {
    padding: 3rem 0;
    font-size: 70px;
  }
}

@media (max-width: 360px) {
  header .hero .hero_left .lamp {
    width: 100px;
    height: 220px;
  }
  header .hero .hero_left .light {
    width: 360px;
    margin-right: 13px;
    margin-top: -2px;
  }
  header .hero .hero_right video {
    margin-left: 5px;
  }
}
/*# sourceMappingURL=style.main.css.map */