 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     background-color: #000;
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     color: white;
     overflow-x: hidden;
 }
 
 $primary-color: linear-gradient(to bottom right,
 #4babe2 50%,
 #ec2b7b);
 %center {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .btn_on {
     background: #2b2b2b!important;
     span {
         background: #ffffff!important;
         margin-left: 31px!important;
         background-image: url('../images/moon.svg')!important;
         background-repeat: no-repeat!important;
         background-position: center!important;
         //  background-color: #313131!important;
     }
 }
 
 .light_on {
     opacity: 1!important;
 }
 
 #switch {
     width: 60px;
     height: 30px;
     background: $primary-color;
     border-radius: 20px;
     border: 0;
     outline: 0;
     cursor: poynter;
     margin-left: 12px;
     transition: background 0.5s;
     span {
         transition: background 0.5s, margin-left 0.5s;
         display: block;
         width: 26px;
         height: 26px;
         margin-left: 2px;
         border-radius: 50%;
         background-image: url('../images/sunny.svg');
         background-repeat: no-repeat;
         background-position: center;
         background-color: #f8f9fa;
     }
 }
 
 header {
     @import "simpleNav";
     width: 100%;
     height: 100vh;
     .hero {
         .hero_left {
             @extend %center;
             .lamp {
                 width: 160px;
                 height: 330px;
             }
             .light {
                 width: 610px;
                 margin-right: 16px;
                 margin-top: -4px;
                 opacity: 0;
             }
         }
         .hero_right {
             @extend %center;
             align-items: start!important;
             position: relative;
             video {
                 width: 80%;
                 margin-bottom: 145px;
             }
             .text {
                 position: absolute;
                 background: #000;
                 mix-blend-mode: multiply;
                 padding-right: 2rem;
                 h1 {
                     padding: 3rem 0;
                     font-size: 90px;
                     font-weight: 800;
                 }
                 p {
                     padding-bottom: 2rem;
                 }
                 a {
                     text-decoration: none;
                     color: white;
                     background: $primary-color;
                     padding: 12px;
                     border-radius: 30px;
                 }
             }
         }
     }
 }
 
 @import "media";