$primary: #000000;
$primary-light: #838fa5;
$secondary: #198754;
$secondary-light: #00be15;
$base-color: #11703b;
$base-white: #ffffff;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    // color: $base-color;
    margin: 0;
}
.border-base {
    border-color: $base-color !important;
}
.btn-base {
    color: #fff;
    background-color: $base-color;
    border-color: $base-color;
    &:hover {
        color: #fff;
        background-color: $secondary-light;
        border-color: $secondary-light;
    }
}
.btn-outline-base {
    color: $base-color;
    border-color: $base-color;
    &:hover {
        color: #fff;
        background-color: $base-color;
        border-color: $base-color;
    }
}
.btn-circle-sm {
    width: 26px;
    height: 26px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 100px;
}
.hover-white {
    &:hover {
        color: $base-white !important;
    }
}
.hover-base {
    &:hover {
        color: $base-color !important;
    }
}
.hover-base-light {
    &:hover {
        color: $secondary-light !important;
    }
}
.text-base-light {
    color: $secondary-light;
}
.text-base {
    color: $base-color;
}
.bg-base {
    background: $base-color;
}
.bg-light-gray {
    background: rgba(236, 239, 241, 0.38);
}
.bg-light-green {
    background: #81d742;
    color: #fff;
}
.bg-light-blue {
    background: #3882cc;
    color: #fff;
}
.bg-light-yellow {
    background: #eaac65;
    color: #fff;
}
.rounded-10 {
    border-radius: 10px;
}
.opacity-25 {
    opacity: 0.251 !important;
}
.opacity-50 {
    opacity: 0.5 !important;
}
.opacity-100 {
    opacity: 1 !important;
}
//font size
.fs-8 {
    font-size: 8px;
}
.fs-9 {
    font-size: 9px;
}
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-17 {
    font-size: 17px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.fs-26 {
    font-size: 26px;
}
.fs-28 {
    font-size: 28px;
}
.fs-30 {
    font-size: 30px;
}
.fs-32 {
    font-size: 32px;
}
.fs-34 {
    font-size: 34px;
}
.fs-36 {
    font-size: 36px;
}
.fs-38 {
    font-size: 38px;
}
.fs-40 {
    font-size: 40px;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.height-30 {
    height: 30px;
}
.height-40 {
    height: 40px;
}
.height-50 {
    height: 50px;
}
.height-60 {
    height: 60px;
}
.height-70 {
    height: 70px;
}
.height-80 {
    height: 80px;
}
.height-100 {
    height: 100px;
}
.height-150 {
    height: 150px;
}
.height-full {
    height: 100% !important;
}
.width-full {
    width: 100% !important;
}

.bx {
    line-height: unset;
}
a {
    text-decoration: none;
}
ul {
    padding-left: 0rem;
    li {
        list-style: none;
    }
}

a {
    color: #131313;
    text-decoration: none;
    &:hover {
        color: #131313;
    }
}

button {
    &:focus {
        outline: 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        color: #1e1e1e;
    }
}

//Custom Bootstrap class
.form-check-input:checked {
    background-color: $base-color;
    border-color: $base-color;
}
.form-check-input:focus {
    border-color: $base-color;
    box-shadow: 0 0 0 0.25rem rgba(46, 122, 2, 0.25);
}

/* select2 style */

.select2-results__options::-webkit-scrollbar {
    width: 10px;
}

.select2-results__options::-webkit-scrollbar-track {
    background-color: transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
    border: 3px solid #fff;
    background-clip: content-box;
    background-color: #47474780;
}

.select2-container--default {
    .select2-dropdown {
        border: none;
        //width: 100%;
        padding: 0.5rem 0;
        // margin-top: 38px;
        border-radius: 6px;
        box-shadow: 0 8px 12px rgba(134, 154, 192, 0.384);
        min-width: 180px;
    }
    .dataIcon {
        font-size: 1rem;
    }
    .select2-selection--single {
        border: none;
        background-color: transparent;
    }
    .select2-container--focus .select2-selection--multiple {
        border: solid transparent 1px !important;
        outline: 0;
    }
    .select2-selection--multiple {
        background-color: transparent;
        border: none !important;
    }
    .select2-container--open {
        .select2-dropdown--below {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
    .select2-results > .select2-results__options {
        overflow-x: hidden;
    }
    .select2-search--dropdown {
        padding: 6px 10px;
        .select2-search__field {
            border: 1px solid #dee2e6;
            border-radius: 5px;
            margin: 5px 0;
        }
    }
    .select2-results__option {
        padding: 6px 10px;
        user-select: none;
        -webkit-user-select: none;
    }
    .select2-results__option--highlighted[aria-selected] {
        color: black;
        background: #f2f2f2;
    }
    .select2-sub-txt {
        font-size: 0.75rem;
        color: #838383;
    }
    .select2-data-abbr {
        font-size: 0.9rem;
        color: #838383;
        font-weight: 700;
    }
}

@media only screen and (max-width: 768px) {
    .select2-container--default {
        .select2-results__option {
            padding: 5px 8px;
        }
    }
}
//date-picker design
.flatpickr-day {
    &:hover{
        background: #a4f3a5;
        color: $primary;
    }
}
.flatpickr-day.selected {
    background:  $base-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    border-color:  $base-color;
    font-weight: 900;
}
.flatpickr-months .flatpickr-month {
    background: #a4f3a5;
}
.flatpickr-weekday {
    color: $base-color !important;
}
.flatpickr-day.today {
    border-color: $base-color;
    &:hover{
        background: #a4f3a5;
        color: $primary;
    }
}
